/* .App {
  text-align: center;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

.active {
  /* color : red; */
  display:none;
}

html {
  font-size: 20px;
}

.movieListPage{
  /* background-color: rgb(2, 24,89); */
  /* background-color: rgb(3,37,140); */
  background-image: url("../src/assets/galaxy.jpg");
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}


.oneMovieWrapper {
  background-color: rgb(2, 24,89);
  height: 100%;
  width: 100%;
}
