
.App {
  height: 100vh;
}

.App-link {
  color: #61dafb;
}

.active {
  /* color : red; */
  display:none;
}

*,
  *::before, 
  *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0
  }

html {
  font-size: 20px;
}

.card__body a {
  text-decoration: none;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: grey;
}



